* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,a {
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url(https://cdn.pixabay.com/photo/2021/10/01/03/57/mountain-6671289_1280.jpg);
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;
}

div.logo {
    height: 60px;
    background-color: rgba(118, 169, 239, 0.689);
    text-align: center;
    line-height: 60px;
}

div.nav {
    height: 40px;
    width: 600px;
    background-color: none;
    margin: 0 auto;
    font-size: 18px;
}

.classes {
    float: left;
    
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgba(255, 192, 203, 0.692);
    text-align: center;
    line-height: 40px;
}
.classes:hover {
    background-color: rgba(128, 128, 128, 0.763);
}

div.con {
    height: 600px;
    width: 1200px;
    margin: 1rem auto;
    background-color: rgba(48, 48, 141, 0.192);
    border-radius: 2em;
}

div.main a {
    float: left;
    height: 585px;
    width: 400px;
    font: 30px 黑体;
    color: yellow;
    background-image: url(https://gmu-download.oss-cn-beijing.aliyuncs.com/MTY1OTQ5MDQ1OTA4MiM3MDkjcG5n.png);
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 让背景图基于容器大小伸缩 */
    background-size: auto;
    background-color: #fb012a;

    text-align: center;
    line-height: 1000px;
    margin-top: 7.5px;
    border-radius: 1.5em;
}
.main:hover{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
}

.gmain {
    float: right;
    height: 290px;
    width: 390px;
    color: #fb012a;
    background-color: rgb(252, 239, 0);
    text-align: center;
    line-height: 290px;
    margin-left: 7.5px;
    margin-top: 7.5px;
    border-radius: 1em;
}
.gmain:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
}