* {
    margin: 0;
    align-items: center;
    overflow: hidden
}
a {
    text-decoration: none;
}

body {
    background-color: #f1f1f1;
    position: relative;
    min-height: 100%;
}

.sidebar {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 2.2rem;
    height: 100%;
    background-color: #fff;
    /* text-align: center; */
}

.sidebar .logo {
    color: #ff5a5a;
    font-weight: 900;
    padding: 32px 0;
    text-align: center;
    display: block;
}

.sidebar .menu {
    overflow-y: auto;
    height: calc(92vh - 60px);
    overscroll-behavior: contain;
}

.menu-Classes {
    line-height: 2em;
    font-size: small;
    color: rgb(35, 199, 21);
}

div {
    display: block;
}
.rightBody {
    margin-bottom: 10px;
    padding: 20px 25px 15px 25px;
    background-color: #fff;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);

    color: #c00;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left,#007eef,#dc5cb6 25%,#007eef 50%,#dc5cb6 75%,#007eef);
    background-size: 200%,100%;
    -webkit-background-clip: text;
    -webkit-animation: word 3s linear infinite;
}
