* {
    margin: 0;
    align-items: center;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

.sidebar {
    position: fixed;
    /* z-index: 0; */
    top: 0;
    left: 0;
    width: 9.9rem;
    height: 100%;
    background-color: rgba(169, 225, 239, 0.493);
}

.sidebar .logo {
    /* background-color: #c00; */
    font-weight: 900;
    padding: 0.8rem 0.9rem;
    /* display: inline-block; */
    /* box-sizing: border-box; */
    border-bottom: gray solid 2px;
}

.sidebar .logo a {
    color: rgb(132, 1, 219);
}

.sidebar .logo a:hover {
    color: blue;
}

.sidebar .menu {
    /* display: inline-block; */
    text-indent: 0.8rem;
    height: 100%;
    margin-top: 0.5em;
}

.menu-Classes {
    /* background: #c00; */
    line-height: 2.8em;
    font-size: small;
    color: rgb(18, 150, 6);
}

.menu-Classes a {
    color: rgb(215, 100, 0);
}

.menu-Classes:hover ,.menu-Classes a:hover {
    background-color: rgba(129, 86, 195,0.3);
    color: rgb(210, 19, 19);
}

.rightBody {
    padding: 45px 25px 15px 25px;
    /* background-color: #fff; */
    text-align: center;
    /* flex-shrink: 0; */
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    padding-left: 10rem;
    color: #c00;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left,#007eef,#dc5cb6 25%,#007eef 50%,#dc5cb6 75%,#007eef);
    background-size: 200%,100%;
    -webkit-background-clip: text;
    -webkit-animation: word 3s linear infinite;
}